*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    background: #222121;
}
.contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222121;
    height: 100vh;
    padding: 2% 2%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;
    height: 100%;
    width: 100%;   
}
.modal-content{
    background: #fff;
    width: 250px;
    height: 150px;
    padding: 30px;
    border-radius: 10px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    display: none
}
.modal-content p{
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.modal-content .modal-btn{
    width: 50%;
    margin-top: 60px;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.generator-box, .submit-box{
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #3a3a50;
    height: 335px;
}
.generator-box{
    gap: 60px;
}
.form-control{
    height: 40px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    border-radius: 3px;
    background: #4a4a5f;
    border: 1px solid gray;
    color: #fff;

}
.btn{
    background: #6666cf;    
    border: none;
    outline: none;
    border: 1px solid #6666cf;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
.circle-btn{
    border-radius: 50%;
    width: 115px;
    padding: 10px;
    height: 115px;
    border: 7px solid #4d4da0;
    
    box-shadow: 5px 5px 10px #242429;
}

.error, .success{
    background: #3a3a50;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.5px;
}
.error{
    color: red;
    display: none;
}
.success{    
    color: green;
    display: none;
}
#input-number{
    margin-bottom: 10px;
}
#left-time{
    color: red;
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
.buttons button{
    background: #535361;
    color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
    width: 60px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer; 
    padding: 5px;   
    box-shadow: 5px 5px 2px #242429;
}
.buttons button:hover{
    background:  #4d4da0;
}
@media(max-width:992px){
    .box-container{
        flex-direction: column;
        width: 95%;
    }
    
    .contianer{
        height: auto;
    }
    .box-container{
        gap: 10px;
    }
    .generator-box{
        height: auto;
        gap: 0;
    }
    .generator-box, .submit-box{
        padding: 20px 6px;
       width: 100%;
       border-radius: 5px;
    }
    .modal-alert {
        width: 265px;
        height: 100px;
        padding: 15px;
    }
    
}